* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
  color: #111111;
}

.draggable-elements {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  margin: 16px;
}


.draggable:hover {
  opacity: 0.5;
}

.droppable span {
  font-size: 20px;
  pointer-events: none;
}

.droppable-elements {
  justify-content: center;
  display: flex;
}

/* drag and drop related styling */

.droppable.droppable-hover {  
  border-width: 5px;
  transform: scale(1.1);
}

.droppable.dropped {
  border-style: solid;
  color: #ffffff;
}

.droppable.dropped  span{
  font-size: 12px;
  margin-top: 8px;
}
.droppable.dropped  i{
  pointer-events: none;
}
.draggable.dragged {
  -moz-user-select: none;
  opacity: 0.1;
  cursor: default;
}
.draggable.dragged:hover{
  opacity: 0.1;
}

@media (max-width: 600px){
  html{
    font-size: 14px;
  }
  .draggable-elements{
    margin: 12px;
  }
}
